.dashboard-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  .chart-wrapper {
    /* width: 400px;
    height: 400px; */
    margin: 30px;
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 2px 2px 5px 5px rgb(220, 219, 219);
  }
}

@media (max-width: 576px) {
  /* Styles for screens less than or equal to 768px wide */
  .dashboard-wrapper {
    margin: 0px 20px;
    display: block;
  }
 
}
