.allCharts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* background-color: rgba(255, 255, 255, 255); */
    /* border: 1px solid rgb(43, 105, 43); */
}

/* .chart{
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 1px 1px 3px 2px rgb(241, 241, 241);
} */

.chart {
    /* width: 400px;
    height: 400px; */
    margin: 30px;
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 2px 2px 5px 5px rgb(220, 219, 219);
}