<div fxLayout="column" class="formDailogBox">
    <div class="header" fxLayout="row">
        <h1>Add New Employee</h1>
    </div>
    <div fxLayout="row" class="content">
        <div class="asideContent" fxLayout="column">
            <div class="profile-photo">
                <div class="emp-image" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../../assets/profile-pic.png" alt="Profile image">
                    <input type="file">
                </div>
            </div>
            <div class="employee-info">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Favorite food</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <input matInput placeholder="" value="-">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <input matInput placeholder="" value="-">
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class="mainContent">
            <p>maincontent</p>
        </div>
    </div>
    <div class="footer">
        <div fxLayout="row"  class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button>Primary</button>
        </div>
    </div>
</div>

