<div class="employee-management-wrapper">
    <div class="all-cards">
        <div *ngFor="let obj of cardDetailsArr" class="single-card">
            <mat-card class="card background-white">
                <mat-card-title-group class="background-white">
                    <mat-card-subtitle font-family="Poppins" class="background-white card-subtitle">{{obj.cardSubtitle}}</mat-card-subtitle>
                    <mat-card-title font-family="Poppins" class="background-white emp-count">{{obj.cardTitle}}</mat-card-title>
                    <div class="card-image">
                        <img src="{{obj.cardimage}}" alt="">
                    </div>
                </mat-card-title-group>
            </mat-card>
        </div>
    </div>



    <div class="employee-details-wrapper">
        <div class="employee-details-header">
            <div class="employee-title">
                <h1>Employees</h1>
                <span class="emp-count">{{length}}</span>
            </div>
            <div class="searchbar-buttons-wrapper">

                <div class="margin search-bar" appearance="outline">
                    <mat-icon class="search-icon">search</mat-icon>
                    <input matInput class="search-input" (keyup)="applyFilter($event)" placeholder="Search" #input>
                </div>

                <div class="btn-wrapper" fxLayout>
                    <button class="add-user-btn mar-10 custom-btn" (click)="openUserDialog()">
                        <mat-icon>add</mat-icon>
                        <span>Add</span>
                    </button>
                    <button class="mar-10 custom-btn" [ngClass]="{'bg-color-blue':!visible}" (click)="changeToCards()">
                        <mat-icon>assignment_ind</mat-icon>
                    </button>
                    <button class="mar-10 custom-btn" [ngClass]="{'bg-color-blue':visible}" (click)="changeToList()">
                        <mat-icon>view_list</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </div>
        <div *ngIf="visible" class="employee-details-table">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container  matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
                    <td mat-cell *matCellDef="let row" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
                        <div class="emp-image">
                            <img src="../../../assets/MyImage.jpeg" alt="">
                        </div>
                        <div class="emp-name-wrap">{{row.fullName}}</div>
                    </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.type}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
                    <td mat-cell *matCellDef="let row"> {{row.role}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
                    <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>

                <ng-container matColumnDef="skills">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Skills </th>
                    <td mat-cell *matCellDef="let row">
                        <div fxLayout>
                            <div *ngFor="let item of row.skills" class="skills-wrapper">{{item.itemText}}</div>
                        </div>
                    </td>


                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onEditForm(row,row.id)">
                                <mat-icon>mode_edit</mat-icon>
                                <span>Edit form</span>
                            </button>
                            <button mat-menu-item (click)="deleteEmployee(row.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete form</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <!-- <mat-row></mat-row> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator appPaginator showFirstLastButtons [showTotalPages]="3" [length]="length"
                [pageSize]="3" [pageSizeOptions]="[3, 5, 10, 20]">>
            </mat-paginator>
        </div>

        <div *ngIf="!visible" class="employee-cards-wrapper">
            <div class="employee-card" *ngFor="let card of cardData">
                <div class="card-header-wrapper">
                    <div>
                        <img src={{card.profileImage}} alt="">
                    </div>
                    <div>
                        <h2>{{card.employeeName}}</h2>
                    </div>
                    <div class="employee-type">
                        <span> {{card.employeeType}} </span>
                    </div>
                </div>
                <div class="card-content-wrapper">
                    <div class="employee-contact-detail">
                        <mat-icon>email</mat-icon>
                        <a href="">{{card.employeeEmail}}</a>
                    </div>
                    <div class="employee-contact-detail">
                        <mat-icon>wifi_calling_3</mat-icon>
                        <span> {{card.employeeCall}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>