//Chips Management
.all-cards{
    display: flex;
    width: 100%;
    margin: 20px;
    flex-direction: row;
}

.single-card{
    width: 100%;
}
.card{
    width: 90%;
    height: 90px;
    background-color: white;
    border: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.card-image{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    justify-content: center;
}

.icon-class{
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #328DF6;
}

.background-white {
    background-color: white;
}

mat-card-title{
    color: #328DF6;
    font-weight: bold;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}