<div class="all-cards">
    <div *ngFor="let obj of cardDetailsArr" class="single-card">
        <mat-card class="card background-white">
                <mat-card-title-group class="background-white" >
                    <mat-card-subtitle class="background-white">{{obj.cardSubtitle}}</mat-card-subtitle>
                    <mat-card-title class="background-white">{{obj.cardTitle}}</mat-card-title>
                    <div class="card-image">
                        <mat-icon class="icon-class">{{obj.cardimage}}</mat-icon> 
                    </div>
                </mat-card-title-group>
        </mat-card>
    </div>
</div>

<a (click)="openUserDialog()">Open Confirm Dialog</a>
