<div fxLayout="column" class="add-employee-wrapper">
    <div class="header " fxLayout fxLayoutAlign="space-between">
        <h1 class="all-headers">Add New Employee</h1>
        <button type="button" class="close-form-btn" [mat-dialog-close]="false">X</button>
    </div>
    <form [formGroup]="employeeForm" class="add-employee-form" (ngSubmit)="onFormSubmit()">
        <div class="content-wrapper">
            <div class="basic-info-wrap">
                <div class="profile-and-emp-info-wrapper" formGroupName="generalDetails">
                    <div class="profile-photo">
                        <div class="employee-image">
                            <img [src]="urlLink" alt="Profile image">
                        </div>
                        <input type="file" id="file" hidden (change)="inputFile($event)" #fileUpload>

                        <div *ngIf="showFullName" fxLayout="column" fxLayoutAlign="center center">
                            <h3>{{employeeForm.get('personalDetails.fullName')?.value}}</h3>
                            <h5>{{employeeForm.get('personalDetails.role')?.value}}</h5>
                        </div>

                        <div *ngIf="!showFullName" class="file-upload">
                            <button type="button" mat-fab color="primary" (click)="fileUpload.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="aside-form">
                            <mat-form-field class="input-full-width">
                                <mat-label>Department</mat-label>
                                <input matInput placeholder="Ex. Pizza" value="Sushi" formControlName="departmentName">
                            </mat-form-field>
                            <mat-form-field class="input-full-width">
                                <mat-label>Role</mat-label>
                                <input matInput placeholder="" value="-" formControlName="roleName">
                            </mat-form-field>
                            <mat-form-field class="input-full-width" appearance="fill">
                                <mat-label>Joing Date</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="joiningDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content-wrap">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Personal & Contact Details" class="all-tabs-wrapper">
                        <div class="personal-details-wrapper" formGroupName="personalDetails">
                            <div class="personal-details-header" fxLayout fxLayoutAlign="space-between">
                                <h2 class="all-headers">Personal Details</h2>
                                <mat-icon class="edit-form-icon" (click)="onEditPersonalForm()">edit</mat-icon>
                            </div>
                            <div class="personal-details-form">
                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Full name</mat-label>
                                        <input id="firstName" matInput type="text" placeholder="Ex. Technical"
                                            formControlName="fullName">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose date of birth"
                                            formControlName="dateOfBirth">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Language</mat-label>
                                        <input id="langauge" matInput type="text" placeholder="Ex. Technical"
                                            formControlName="langauge">
                                    </mat-form-field>

                                    <div class="dropdown-container">
                                        <ng-multiselect-dropdown [disabled]="isDropdownVisible" class="multiselect-option" formControlName="skills"
                                            [placeholder]="'Select Skills'" [settings]="dropdownSettings"
                                            [data]="dropdownList">
                                            (onSelect)="onItemSelect($event)"
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <p *ngIf="!employeeForm.get('personalDetails.skills')?.valid && employeeForm.get('personalDetails.skills')?.touched"
                                        class="warning">
                                        This is required
                                    </p>


                                </div>

                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Role</mat-label>
                                        <mat-select formControlName="role">
                                            <mat-option value="Intern">Intern</mat-option>
                                            <mat-option value="Associate Software Engineer">Associate Software
                                                Engineer</mat-option>
                                            <mat-option value="Software Engineer">Software Engineer</mat-option>
                                            <mat-option value="Snr.Software Engineer">Snr.Software Engineer</mat-option>
                                            <mat-option value="UI/UX Designer">UI/UX Designer</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="gender">
                                            <mat-option value="Male">Male</mat-option>
                                            <mat-option value="Female">Female</mat-option>
                                            <mat-option value="Other">Other</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Marital Status</mat-label>
                                        <input formControlName="maritalStatus" matInput type="text"
                                            placeholder="Ex. Technical" formControlName="maritalStatus">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Blood Group</mat-label>
                                        <mat-select formControlName="bloodGroup">
                                            <mat-option value="A+">A+</mat-option>
                                            <mat-option value="B+">B+</mat-option>
                                            <mat-option value="O+">O+</mat-option>
                                            <mat-option value="O-">O-</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Type</mat-label>
                                        <mat-select formControlName="type">
                                            <mat-option value="Intern">Intern</mat-option>
                                            <mat-option value="Permanent">Permanent</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="contact-details-wrapper" formGroupName="contactDetails">
                            <div class="main-content-header" fxLayout fxLayoutAlign="space-between">
                                <h2 class="all-headers">Contact Details</h2>
                                <mat-icon class="edit-form-icon" (click)="onEditContactForm()">edit</mat-icon>
                            </div>
                            <div class="contact-details-form">
                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput type="email" placeholder="Ex. test@gmail.com"
                                            formControlName="email">
                                        <mat-hint
                                            *ngIf="!employeeForm.get('contactDetails.email')?.valid && employeeForm.get('contactDetails.email')?.touched"
                                            class="warning">Please enter valid email</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput placeholder="Ex. 9078462389" type="number"
                                            formControlName="phoneNumber">
                                        <mat-hint
                                            *ngIf="!employeeForm.get('contactDetails.phoneNumber')?.valid && employeeForm.get('contactDetails.phoneNumber')?.touched"
                                            class="warning">Please enter Valid contact number</mat-hint>
                                    </mat-form-field>

                                </div>

                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Current City</mat-label>
                                        <input matInput type="text" placeholder="Ex. Jalgoan"
                                            formControlName="currentCity">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hometown</mat-label>
                                        <input matInput type="text" placeholder="Ex. Jalgoan"
                                            formControlName="homeTown">
                                    </mat-form-field>
                                </div>

                                <div class="input-row">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Current Address</mat-label>
                                        <input matInput type="text" placeholder="Ex. Jalgoan"
                                            formControlName="currentAddress">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Residential Address</mat-label>
                                        <input matInput type="text" placeholder="Ex. Jalgoan"
                                            formControlName="residentialAdress">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Education & Work Experience">Education & Work Experience</mat-tab>
                    <mat-tab label="Documents">Documents</mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="footer">
            <div fxLayout="row" class="form-button-row">
                <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
                <button class="bg-color-blue "
                    [disabled]="!(employeeForm.get('personalDetails')?.valid && employeeForm.get('contactDetails')?.valid)"
                    mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Add'}}</button>
            </div>
        </div>
    </form>
</div>



<!-- 
    1) Input field single row
 -->