.add-employee-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;

  /* Header */
  .header {
    width: 100%;
    height: 7%;
    // border: 1px solid green;
  }

  .all-headers {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    padding: 10px;
  }

  /* add employee form */
  .add-employee-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #e8e9ee;

    .content-wrapper {
      display: flex;
      width: 100%;
      height: 100%;

      /* Aside Content */
      .basic-info-wrap {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .profile-and-emp-info-wrapper {
          width: 80%;
          height: 90%;
          padding: 10px;
          border: 2px solid #e8e9ee;

          .profile-photo {
            height: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .file-input {
              display: none;
            }

            img {
              width: 130px;
              height: 160px;
            }
          }

          .input-full-width {
            width: 100%;
          }
        }
      }

      /* Main content */
      .main-content-wrap {
        width: 70%;
        height: 100%;

        .personal-details-wrapper,
        .contact-details-wrapper {
          border: 2px solid #e8e9ee;
          border-radius: 7px;
          margin: 6px;
        }

        .personal-details-wrapper {
          height: 430px;

          .personal-details-form {
            height: 80%;
            width: 90%;
            margin: auto;
            overflow: auto;

            .input-row {
              display: flex;
              gap: 10px;

              mat-form-field {
                width: 45%;
              }
            }
          }
        }

        .contact-details-wrapper {
          height: 240px;
          overflow: auto;
          //   border: 1px solid blue;

          .contact-details-form {
            height: 80%;
            width: 90%;
            overflow: auto;
            margin: auto;

            .input-row {
              display: flex;
              gap: 10px;

              mat-form-field {
                width: 45%;
              }
            }
          }
        }
      }
    }

    /* For buttons */
    .footer {
      height: 7%;

      .form-button-row {
        display: flex;
        justify-content: end;
      }
      // border: 1px solid blue;
    }
  }
}

.add-employee-wrap::-webkit-scrollbar {
  display: none;
}

.contact-details-wrapper::-webkit-scrollbar {
  display: none;
}

.contact-details-form::-webkit-scrollbar {
  display: none;
}

.personal-details-form::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .basic-info-wrap {
    min-width: 100%;
  }

  .main-content-wrap {
    min-width: 100%;
    overflow: auto  ;
  }
}

@media only screen and (max-width: 576px) {
  .main-content-wrap {
    min-width: 100%;
    overflow: auto;

    .input-row {
      flex-direction: column;

      mat-form-field {
        min-width: 90%;
      }
    }
  }
}
